---
http_interactions:
- request:
    method: get
    uri: https://superheroapi.com/api/192450955735533/search/superman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.superheroapi.com/api.php/192450955735533/search/superman
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head>\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" >\n<title>
        302 Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: #fff;\">\n<div
        style=\"height:auto; min-height:100%; \">     <div style=\"text-align: center;
        width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">302</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Found\r\n</h2>\n<p>The document
        has been temporarily moved.</p>\n</div></div></body></html>\n"
  recorded_at: Wed, 30 Sep 2020 04:06:23 GMT
- request:
    method: get
    uri: https://www.superheroapi.com/api.php/192450955735533/search/superman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: '{"response":"success","results-for":"superman","results":[{"id":"195","name":"Cyborg
        Superman","powerstats":{"intelligence":"75","strength":"93","speed":"92","durability":"100","power":"100","combat":"80"},"biography":{"full-name":"Henry
        Henshaw","alter-egos":"No alter egos found.","aliases":["Grandmaster of the
        Manhunters","Herald of the Anti-Monitor","Alpha-Prime of the Alpha Lanterns"],"place-of-birth":"-","first-appearance":"Adventures
        of Superman #466 (May, 1990)","publisher":"DC Comics","alignment":"bad"},"appearance":{"gender":"Male","race":"Cyborg","height":["-","0
        cm"],"weight":["- lb","0 kg"],"eye-color":"Blue","hair-color":"Black"},"work":{"occupation":"-","base":"Warworld,
        Qward, Antimatter Universe, formerly Biot, Sector 3601"},"connections":{"group-affiliation":"Alpha
        Lantern Corps, Manhunters, Warworld, formerly Apokolips and Sinestro Corps","relatives":"Terri
        Henshaw (wife, deceased)"},"image":{"url":"https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/667.jpg"}},{"id":"644","name":"Superman","powerstats":{"intelligence":"94","strength":"100","speed":"100","durability":"100","power":"100","combat":"85"},"biography":{"full-name":"Clark
        Kent","alter-egos":"Superman Prime One-Million","aliases":["Clark Joseph Kent","The
        Man of Steel","the Man of Tomorrow","the Last Son of Krypton","Big Blue","the
        Metropolis Marvel","the Action Ace"],"place-of-birth":"Krypton","[...]
