---
http_interactions:
- request:
    method: get
    uri: https://superheroapi.com/api/192450955735533/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.superheroapi.com/api.php/192450955735533/search
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head>\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" >\n<title>
        302 Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: #fff;\">\n<div
        style=\"height:auto; min-height:100%; \">     <div style=\"text-align: center;
        width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">302</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Found\r\n</h2>\n<p>The document
        has been temporarily moved.</p>\n</div></div></body></html>\n"
  recorded_at: Wed, 30 Sep 2020 05:34:42 GMT
- request:
    method: get
    uri: https://www.superheroapi.com/api.php/192450955735533/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: '{"response":"error","error":"bad name search request"}'
  recorded_at: Wed, 30 Sep 2020 05:34:42 GMT
recorded_with: VCR 6.0.0
