---
http_interactions:
- request:
    method: get
    uri: https://superheroapi.com/api/192450955735533/search/captain_marvel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://www.superheroapi.com/api.php/192450955735533/search/captain_marvel
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html style=\"height:100%\">\n<head>\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" >\n<title>
        302 Found\r\n</title></head>\n<body style=\"color: #444; margin:0;font: normal
        14px/20px Arial, Helvetica, sans-serif; height:100%; background-color: #fff;\">\n<div
        style=\"height:auto; min-height:100%; \">     <div style=\"text-align: center;
        width:800px; margin-left: -400px; position:absolute; top: 30%; left:50%;\">\n
        \       <h1 style=\"margin:0; font-size:150px; line-height:150px; font-weight:bold;\">302</h1>\n<h2
        style=\"margin-top:20px;font-size: 30px;\">Found\r\n</h2>\n<p>The document
        has been temporarily moved.</p>\n</div></div></body></html>\n"
  recorded_at: Tue, 29 Sep 2020 06:39:19 GMT
- request:
    method: get
    uri: https://www.superheroapi.com/api.php/192450955735533/search/captain_marvel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Turbo-Charged-By:
      - LiteSpeed
    body:
      encoding: ASCII-8BIT
      string: '{"response":"success","results-for":"captain_marvel","results":[{"id":"156","name":"Captain
        Marvel","powerstats":{"intelligence":"88","strength":"100","speed":"88","durability":"95","power":"100","combat":"75"},"biography":{"full-name":"Billy
        Batson","alter-egos":"No alter egos found.","aliases":["The World''s Mightiest
        Mortal","The Big Red Cheese","Captain Thunder","Shazam"],"place-of-birth":"Fawcett
        City, United States","first-appearance":"Whiz Comics no. 2 (1940)","publisher":"DC
        Comics","alignment":"good"},"appearance":{"gender":"Male","race":"Human","height":["6''4","193
        cm"],"weight":["225 lb","101 kg"],"eye-color":"Blue","hair-color":"Black"},"work":{"occupation":"-","base":"-"},"connections":{"group-affiliation":"Marvel
        Family, Justice Society of America","relatives":"C.C. Batson (father, deceased),
        Marilyn Batson (mother, deceased), Ebenezer Batson (uncle), Mary Batson (Mary
        Marvel, sister)"},"image":{"url":"https:\/\/www.superherodb.com\/pictures2\/portraits\/10\/100\/278.jpg"}},{"id":"157","name":"Captain
        Marvel","powerstats":{"intelligence":"84","strength":"88","speed":"71","durability":"95","power":"100","combat":"90"},"biography":{"full-name":"Carol
        Danvers","alter-egos":"Binary, Warbird","aliases":["Ace","Binary","Lady Marvel","Warbird","others
        used during her espionage career"],"place-of-birth":"Boston, Massachusetts","first-appearance":"Ms.
        Marvel #1","publis[...]
